.tabs-wrapper {
  width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-flex {
  display: flex;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.list-flex {
  /* display: flex; */
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.2rem;
  overflow-x: auto !important;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* table {
  display: flex;
} */
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
}
